@model IEnumerable<ReadySeatGO_.Models.UsersModel>

@if (Session["userid"] == null )
{
    Response.Redirect("~/Home/Home");
}


@{

    ViewBag.Title = "Admin List";
}

<h2>Admin List</h2>

<p>
    @Html.ActionLink("Create New", "AddAdmin")
</p>

<table class="table" >
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.ActionLink("Details", "UserDetails", new { id = item.UserID }) |
                @Html.ActionLink("Archive", "ArchiveAdmin", new { id = item.UserID })
            </td>
        </tr>
    }

</table>
<a class="btn btn-default" href="~/Home/AdminHome">Go Back &raquo;</a>
