@model ReadySeatGO_.Models.UsersModel

@{
    ViewBag.Title = "UserDetails";
}

<h2>@Model.Username (@Model.UserType)</h2>


<div class="col-lg-6">
    @Model.FirstName, @Model.LastName
    <br />
    @Model.Address
    <br />
    @Model.Email
    <br />
    @Model.Mobile
</div>

<div class="col-lg-6">


</div>