@model   ReadySeatGO_.Models.RestaurantModel

@{
    ViewBag.Title = "Details";
}

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Restaurant (@Model.Category)</h2>

<p>
    Category: @Model.Category
    

</p>
<div class="col-lg-6">
    <img src="../../Images/Restaurants/@Model.Image" class="img-circle img-responsive" alt="@Model.Restaurant" />
</div>

<div class="col-lg-6">
    <br />
    <p>
        Operating Hours: @Model.OperatingHours
    </p>
    <p>
        Owned By:@Model.UserName
    </p>
    <p>
        Located at: @Model.Address
    </p>
    <p>
        Total # of Seats: @Model.TotalSeats
    </p>
    <p>
        @Model.Branch Branch
    </p>
    <p>
        Contact #: @Model.Phone
    </p>
    <p>
        Status: @Model.Status / @ViewBag.Gross
    </p>

</div>